// Inicio

body {
    margin: 0px auto;
    font-family: Jost;
    background-color: #160040;
}



.video {
    width: 100%;
    height: 80vh;
    color: #fff;
    display: flex;
    flex-direction: column;

    .video__reproductor {
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #865DFF;
        background: linear-gradient(#160040, #4C0070);
    }

    .video__texto {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;        
        text-align: center;
        // background-color: rgb(0, 0, 0, 0.7);
        background: linear-gradient(#4C0070, #79018C);
        color: #fff;
        font-weight: bold;
    }
}



.logo_escenario {
    width: 100%;
    height: 70vh;
    color: #FFF;
    display: flex;
    background-color: #79018C;

    .logo {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        // background: linear-gradient(to left, #FFF, darkslateblue 15%);
        color: #fff;
        font-weight: bold;

        .logo__imagen{
            width: 175px;
        }

        .logo__texto {
            text-align: center;
            font-size: larger;
            padding-left: 20%;
            padding-right: 20%;
        }
    }


    .escenario {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 10%;
        // background: linear-gradient(to right, #FFF, darkslateblue 15%);
        color: #fff;
        font-weight: bold;

        .escenario__imagen {
            width: 350px;
        }

        .escenario__texto {
            text-align: center;
            font-size: larger;
            padding-left: 20%;
            padding-right: 20%;
        }
    }
}

.audios {
    width: 100%;
    height: 60vh;
    color: aliceblue;
    // background-color: darkslateblue;
    display: flex;
    flex-direction: column;

    .audios__texto {
        background: linear-gradient(#79018C, #9A0680);
        display: flex;
        font-size: larger;
        align-items: center;
        justify-content: center;
        height: 20%;
        padding: 0 10%;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }

    .audios__grupo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        background-color: #9A0680;
        
        .audios__audio {
            width: 50%;
            display: flex;
            flex-direction: column;
            height: inherit;
            justify-content: center;
            align-items: center;
            gap: 20%;
            font-weight: bold;
        }
    }
}



.carrousel{
    width: 90%;
    max-width: 120em;
    // height: 70vh;
    padding: 2em;
    margin-left: 3em;
    overflow-x: hidden;
    // background-color: darkslateblue;
    background-color: #160040;
}

.carrousel .grande{
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // background-color: orange;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carrousel .img{
    width: calc( 100% / 4 - 6em);
    min-height: 10vh;
}

.carrousel .puntos{
    width: auto;
    margin: .1em 0 0;
    padding:.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto{
    list-style: none;
    border: 2px solid #FFF;
    width:  1.5em;
    height: 1.5em;
    margin: 2em 1em 0;
    background-color: #FFFFFF00;
    border-radius: 25px;
}

.carrousel .punto.activo{
    background-color: #FFF;
}



@media (max-width: 800px) {
  .campeones, .maestrias, .desafios {
    height: max-content;
    padding: 5vh 0;
    font-size: small;
  }
}